/* Reset */
* {
  padding: 0;
  margin: 0;
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  background: rgb(3, 3, 3);
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

section {
  min-height: 100vh;
  height: auto;
  min-width: 100vw;
  width: 100vw;
  background: rgb(3, 3, 3);
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-brand img {
  width: 120px;
}

.size-1 {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.size-2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50px;
  opacity: 0;
}
@media screen and (max-width: 500px) {
  .text {
    top: 50%;
    left: 10px;
  }
}

.text h1 {
  font-size: 2rem;
  color: #fff;
}

.text p {
  font-size: 1.25rem;
  color: #fff;
  margin-top: 10px;
}
.about {
  width: 60%;
}
@media screen and (max-width: 500px) {
  .about {
    width: 90%;
  }
}

.about p {
  font-size: 1.25rem;
  color: #fff;
  margin-top: 10px;
}

.about h1 {
  font-size: 2rem;
  color: #fff;
}

#one {
  background-color: rgb(3, 3, 3);
}

#two {
  background-color: rgb(3, 3, 3);
}

#three {
  background-color: rgb(0, 0, 0);
}

#preloader {
  /*
  The preloader is visible by default. 
  */
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5em;
  margin-left: -4em;
  width: 20em;
  height: 5em;
  background-color: #000;
  color: #fff;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: #000;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: 0.25em solid #fff;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: #000;
}

#box {
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 0.25em solid #fff;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
