* {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  width: 100vw;
  background: #ccc;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  font-size: 48px;
  color: green;
  position: absolute;
  top: 25%;
  left: 100px;
  opacity: 0;
}
